/* ----------------------------------------------------------------------------------------- */
/* line 27, stylesheet.scss */
body {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
}

/* line 28, stylesheet.scss */
p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 100%;
  margin: 0 0 15px 0;
}

/* line 29, stylesheet.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 31, stylesheet.scss */
::-moz-selection {
  background-color: #231F20;
  color: #FFF;
}

/* line 32, stylesheet.scss */
::selection {
  background-color: #231F20;
  color: #FFF;
}

/* line 34, stylesheet.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 35, stylesheet.scss */
a:hover, a:focus, a:active {
  color: #333;
  outline: none;
}

/* line 37, stylesheet.scss */
hr {
  border: 0;
  height: 1px;
  margin: 15px 0 45px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* line 39, stylesheet.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 40, stylesheet.scss */
.ie8 .clearfix {
  zoom: 1;
}

/* Title
--------------------------------------------------------------------------------------- */
/* line 44, stylesheet.scss */
h1, h2, h3, h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 100%;
  margin: 0 0 15px 0;
  position: relative;
}

/* line 47, stylesheet.scss */
h1 {
  margin-bottom: 25px;
}

/* line 48, stylesheet.scss */
h2 {
  margin-bottom: 25px;
}

/* line 49, stylesheet.scss */
h3 {
  margin-bottom: 25px;
}

/* line 50, stylesheet.scss */
h4 {
  margin-bottom: 25px;
}

/* Transitions
--------------------------------------------------------------------------------------- */
/*{-webkit-transition: all 0.20s linear; transition: all 0.20s linear;}*/
/* Opacity
--------------------------------------------------------------------------------------- */
/*{opacity: 0.80; filter: alpha(opacity=80);}*/
/* Custom form */
/* line 1, partials/_form.scss */
.note {
  font-size: 13px;
  color: #FFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

/* line 2, partials/_form.scss */
.champ_obligation {
  color: #FFF;
  font-family: Arial;
  font-size: 16px;
}

/* line 3, partials/_form.scss */
.etiquette {
  display: block;
  color: #FFF;
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: none;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 100%;
}

/* line 5, partials/_form.scss */
.section {
  margin-bottom: 35px;
  position: relative;
}

/* line 7, partials/_form.scss */
.section:last-child {
  margin-bottom: 0;
}

/* line 9, partials/_form.scss */
.group_form {
  margin-bottom: 18px;
}

/* line 10, partials/_form.scss */
.group_form:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 10, partials/_form.scss */
* html .group_form {
  zoom: 1;
}

/* line 10, partials/_form.scss */
*:first-child + html .group_form {
  zoom: 1;
}

/* line 11, partials/_form.scss */
.group_form:last-child {
  margin-bottom: 0;
}

/* line 12, partials/_form.scss */
.group_form .col {
  float: left;
  width: 200px;
  border: none;
  margin-right: 12px;
  position: relative;
}

/* line 13, partials/_form.scss */
.group_form .col:last-child {
  margin-right: 0;
}

/* line 14, partials/_form.scss */
.group_form .col.large {
  width: 100% !important;
  float: none;
}

/* line 16, partials/_form.scss */
.radio_conteneur {
  float: left;
  margin-right: 15px;
}

/* line 17, partials/_form.scss */
.radio_conteneur:last-child {
  margin-right: 0 !important;
}

/* line 18, partials/_form.scss */
.radio_conteneur input {
  display: inline-block;
  margin-top: 2px;
  margin-right: 2px;
}

/* line 19, partials/_form.scss */
.radio_conteneur label {
  display: inline-block;
  cursor: pointer;
  color: #707070;
  margin-bottom: 0;
}

/* line 21, partials/_form.scss */
.parent {
  position: relative;
}

/* line 24, partials/_form.scss */
.parent.champ_fichier {
  padding: 8px 0;
  background: none;
  border: none;
}

/* line 25, partials/_form.scss */
.parent.champ_radio {
  padding: 8px 12px;
  border: none !important;
  background: none;
}

/* line 28, partials/_form.scss */
.action_conteneur {
  text-align: center;
  padding-top: 5px;
}

/* line 29, partials/_form.scss */
.action_conteneur.gauche {
  text-align: left;
}

/* line 30, partials/_form.scss */
.action_conteneur.droite {
  text-align: right;
}

/* line 32, partials/_form.scss */
*:focus {
  outline: 0;
}

/* line 33, partials/_form.scss */
fieldset {
  border: 1px solid #000;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px;
}

/* line 34, partials/_form.scss */
legend {
  border: 1px solid #999;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}

/* line 35, partials/_form.scss */
label {
  display: block;
  color: #000;
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: none;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 100%;
}

/* line 37, partials/_form.scss */
input {
  display: block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: #000;
  width: 100%;
  padding: 2px 0;
  border: none;
  border-bottom: 1px solid #8a8b8d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-appearance: caret; -moz-appearance: caret;*/
}

/* line 44, partials/_form.scss */
::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}

/* line 45, partials/_form.scss */
:-moz-placeholder {
  color: #666666;
  opacity: 1;
}

/* line 46, partials/_form.scss */
::-moz-placeholder {
  color: #666666;
  opacity: 1;
}

/* line 47, partials/_form.scss */
:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}

/* line 48, partials/_form.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 49, partials/_form.scss */
input[type=checkbox] {
  float: left;
  margin-top: 3px;
  margin-right: 8px;
  width: auto;
}

/* line 50, partials/_form.scss */
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
  width: auto !important;
}

/* line 51, partials/_form.scss */
input[type=file] {
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

/* line 52, partials/_form.scss */
button {
  cursor: pointer;
  border: none;
  display: block;
  margin: 0;
  border: 0 none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 59, partials/_form.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 60, partials/_form.scss */
select {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  font-style: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  padding: 7px 12px;
  color: #666666;
  width: 100%;
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, partials/_form.scss */
select:focus {
  border: 1px solid #666666;
}

/* line 62, partials/_form.scss */
textarea {
  display: block;
  background: #3d3d3d;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: none;
  font-size: 14px;
  color: #FFF;
  height: 120px;
  width: 100%;
  resize: vertical !important;
  /*-webkit-appearance: caret; -moz-appearance: caret;*/
}

/* line 66, partials/_form.scss */
textarea:focus {
  border: 1px solid #FFF;
}

/* Custom text formatting */
/* Text formatting
--------------------------------------------------------------------------------------- */
/* line 3, partials/_text.scss */
.section_texte {
  text-align: left;
  margin: 0;
}

/* line 4, partials/_text.scss */
.section_texte h2 {
  color: #00a423;
}

/* line 5, partials/_text.scss */
.section_texte img {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 7, partials/_text.scss */
.section_texte .intro {
  font-weight: 700 !important;
  color: #000 !important;
  font-size: 14px;
  line-height: 22px;
}

/* line 8, partials/_text.scss */
.section_texte .texte {
  margin: 0 auto;
  padding: 0;
}

/* line 9, partials/_text.scss */
.section_texte .texte .publication {
  font-weight: 700;
  font-size: 14px;
}

/* line 10, partials/_text.scss */
.section_texte .texte p {
  color: #6d6e71;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
  font-family: 'Open Sans';
  font-weight: 400;
}

/* line 11, partials/_text.scss */
.section_texte .texte a {
  color: #00a423;
}

/* line 12, partials/_text.scss */
.section_texte .texte a:hover {
  text-decoration: none;
  color: #6d6e71;
}

/* line 14, partials/_text.scss */
.section_texte .texte ul, .section_texte .texte ol {
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: left;
}

/* line 15, partials/_text.scss */
.section_texte .texte ul:last-child, .section_texte .texte ol:last-child {
  margin-bottom: 0;
}

/* line 16, partials/_text.scss */
.section_texte .texte ul li, .section_texte .texte ol li {
  background: url(../gx/m/bullet.png) 0 9px no-repeat;
  list-style: none;
  padding-left: 12px;
}

/* line 17, partials/_text.scss */
.section_texte .texte blockquote {
  background: url(../gx/m/citation_gauche.png) top left no-repeat;
  margin-bottom: 15px;
}

/* line 18, partials/_text.scss */
.section_texte .texte blockquote p {
  font-size: 16px;
  font-style: italic;
  padding-left: 35px;
  padding-right: 35px;
  background: url(../gx/m/citation_droite.png) bottom right no-repeat;
}

/* line 20, partials/_text.scss */
.section_texte .texte ul ul li {
  list-style: circle;
}

/* line 21, partials/_text.scss */
.section_texte .texte ol ol li {
  list-style: lower-alpha;
}

/* line 22, partials/_text.scss */
.section_texte .texte ol li {
  list-style: decimal;
  margin-left: 12px;
  background: none;
  padding: 0;
}

/* Custom button */
/* Buttons
--------------------------------------------------------------------------------------- */
/*.btn_type1 {}*/
/* Main navigation */
/* Main navigation
--------------------------------------------------------------------------------------- */
/* line 3, partials/_main_nav.scss */
.menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
  margin-right: 25px;
}

/* line 4, partials/_main_nav.scss */
.menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 4, partials/_main_nav.scss */
* html .menu {
  zoom: 1;
}

/* line 4, partials/_main_nav.scss */
*:first-child + html .menu {
  zoom: 1;
}

/* line 5, partials/_main_nav.scss */
.menu .menu_inner {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, partials/_main_nav.scss */
.menu .menu_inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 6, partials/_main_nav.scss */
* html .menu .menu_inner {
  zoom: 1;
}

/* line 6, partials/_main_nav.scss */
*:first-child + html .menu .menu_inner {
  zoom: 1;
}

/* line 8, partials/_main_nav.scss */
.menu .menu_inner ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 8, partials/_main_nav.scss */
* html .menu .menu_inner ul {
  zoom: 1;
}

/* line 8, partials/_main_nav.scss */
*:first-child + html .menu .menu_inner ul {
  zoom: 1;
}

/* line 9, partials/_main_nav.scss */
.menu .menu_inner ul li {
  display: block;
  position: relative;
  padding: 0;
  float: left;
}

/* line 10, partials/_main_nav.scss */
.menu .menu_inner ul li:hover .sous_menu_conteneur {
  display: block;
}

/* line 11, partials/_main_nav.scss */
.menu .menu_inner ul li.premier {
  padding-left: 0;
}

/* line 12, partials/_main_nav.scss */
.menu .menu_inner ul li.dernier {
  padding-right: 0;
}

/* line 13, partials/_main_nav.scss */
.menu .menu_inner ul li a {
  cursor: pointer;
  display: block;
  font-size: 22px;
  color: #6d6e71;
  font-weight: normal;
  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  line-height: 100%;
  padding: 0 27px;
  zoom: 1;
}

/* line 25, partials/_main_nav.scss */
.menu .menu_inner ul li.premier a {
  padding-left: 0;
}

/* line 26, partials/_main_nav.scss */
.menu .menu_inner ul li.dernier a {
  padding-right: 0;
}

/* line 27, partials/_main_nav.scss */
.menu .menu_inner ul li a:hover, .menu .menu_inner ul li:hover a {
  color: #000;
}

/* line 30, partials/_main_nav.scss */
.menu .menu_inner ul li a.actif, .menu .menu_inner ul li a.actif:visited {
  color: #00a651;
}

/* line 32, partials/_main_nav.scss */
.sous_menu_conteneur {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 994;
  width: 185px;
  padding-top: 20px;
  margin-left: -92.5px;
}

/* line 33, partials/_main_nav.scss */
.sous_menu_conteneur.langue {
  width: auto !important;
  text-align: center !important;
  margin-left: -33px !important;
}

/* line 34, partials/_main_nav.scss */
.sous_menu_conteneur .hide_padding {
  padding: 0;
  border: none;
  border-top: none;
  border-radius: 3px;
  position: relative;
  background: rgba(0, 0, 0, 0.66);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8000000', endColorstr='#a8000000',GradientType=1 );
  background-color: rgba(60, 60, 63, 0.95);
  -moz-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjAzIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjAzIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
}

/* line 46, partials/_main_nav.scss */
.sous_menu_conteneur .hide_padding .fleche {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10.5px;
}

/* line 47, partials/_main_nav.scss */
.sous_menu {
  width: auto !important;
}

/* line 48, partials/_main_nav.scss */
.sous_menu li {
  display: block !important;
  width: 100% !important;
  margin-bottom: 0;
  padding: 0 !important;
  border-bottom: 1px solid #323334;
}

/* line 49, partials/_main_nav.scss */
.sous_menu li:last-child {
  margin-bottom: 0;
  border: none;
}

/* line 50, partials/_main_nav.scss */
.sous_menu li a {
  display: block !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 25px !important;
  font-family: 'Open Sans' !important;
  color: #dcddde !important;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: 300 !important;
}

/* line 51, partials/_main_nav.scss */
.sous_menu li a:hover {
  color: #FFF !important;
  font-weight: 400 !important;
}

/* line 52, partials/_main_nav.scss */
.sous_menu li a.actif {
  color: #72adf4 !important;
  font-weight: 400 !important;
}

/* Box layout
--------------------------------------------------------------------------------------- */
/* line 71, stylesheet.scss */
.parent_box {
  position: relative;
}

/* line 72, stylesheet.scss */
.child_box {
  position: relative;
}

/* line 73, stylesheet.scss */
.child_box .row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  position: relative;
  margin: 0 auto;
}

/* line 74, stylesheet.scss */
.child_box .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

/* line 74, stylesheet.scss */
* html .child_box .row {
  zoom: 1;
}

/* line 74, stylesheet.scss */
*:first-child + html .child_box .row {
  zoom: 1;
}

/* line 77, stylesheet.scss */
.child_box.content .row {
  padding: 25px 0;
}

/* line 78, stylesheet.scss */
.child_box.content .row h2 {
  margin-bottom: 45px;
  font-weight: 800;
}

/* Free CSS
--------------------------------------------------------------------------------------- */
/* ==================================================================================== */
/*  Media Queries for Responsive Design  */
/* ==================================================================================== */
/* tablette paysage */
/* tablette portrait */
/* mobile paysage */
/* mobile portrait */
