html {}
	body {font-family: Arial, Helvetica, sans-serif; color: #000; font-weight: 400;}
		p {}
		p:last-child {margin-bottom: 0;}

::-moz-selection {background-color: #231F20; color: #FFF;}
::selection {background-color: #231F20; color: #FFF;}

a {text-decoration: none;}
a:hover, a:focus, a:active {outline: none;}

hr {border: 0; height: 1px; margin: 15px 0 45px 0; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: '.'; clear: both; height: 0;}
.ie8 .clearfix {zoom: 1;}

/* Title
--------------------------------------------------------------------------------------- */
h1, h2, h3, h4 {position: relative;}
h1 a, h2 a, h3 a, h4 a {}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {}
h1 {margin-bottom: 25px;}
h2 {margin-bottom: 25px;}
h3 {margin-bottom: 25px;}
h4 {margin-bottom: 25px;}

/* Transitions
--------------------------------------------------------------------------------------- */
/*{-webkit-transition: all 0.20s linear; transition: all 0.20s linear;}*/

/* Opacity
--------------------------------------------------------------------------------------- */
/*{opacity: 0.80; filter: alpha(opacity=80);}*/

/* Box layout
--------------------------------------------------------------------------------------- */
.parent_box {position: relative;}
	.child_box {position: relative;}
		.child_box .row {width: 1250px; position: relative; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
		.child_box .row:after {visibility: hidden; display: block; font-size: 0; content: '.'; clear: both; height: 0;} * html .child_box .row {zoom: 1;} *:first-child+html .child_box .row {zoom: 1;}

	.child_box.content {}
		.child_box.content .row {
      padding: 25px 0;
      border: 1px solid red;
    }

/* Free CSS
--------------------------------------------------------------------------------------- */


/* ==================================================================================== */
/*  Media Queries for Responsive Design  */
/* ==================================================================================== */

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
