html {
	body {
		font-family: Arial, Helvetica, sans-serif;
		color: #000;
		font-weight: normal;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

::-moz-selection {background-color: #231F20; color: #FFF;}
::selection {background-color: #231F20; color: #FFF;}


hr {border: 0; height: 1px; margin: 15px 0 45px 0; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: '.'; clear: both; height: 0;}

* {box-sizing: border-box;}

/* Title
--------------------------------------------------------------------------------------- */
h1, h2, h3, h4 {position: relative;}
h1 a, h2 a, h3 a, h4 a {}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {}
h1 {margin-bottom: 25px;}
h2 {margin-bottom: 25px;}
h3 {margin-bottom: 25px;}
h4 {margin-bottom: 25px;}

/* Transitions
--------------------------------------------------------------------------------------- */
/*{-webkit-transition: all 0.20s linear; transition: all 0.20s linear;}*/

/* Opacity
--------------------------------------------------------------------------------------- */
/*{opacity: 0.80; filter: alpha(opacity=80);}*/



/* Free CSS
--------------------------------------------------------------------------------------- */

@media (min-width: $sm-viewport) {}
@media (min-width: $md-viewport) {}
@media (min-width: $lg-viewport) {}
@media (min-width: $xl-viewport) {}
