// ----------------------------------------------------
// Box layout Configuration
// ----------------------------------------------------
.parent-box {
	position: relative;

	.child-box {
		position: relative;

		.row {
			width: $xl-viewport;
			position: relative;
			margin: 0 auto;
			box-sizing: border-box;

			&::after {
				display: block;
				visibility: hidden;
				content: '.';
				font-size: 0;
				clear: both;
				height: 0;
			}
		}

		// Add New Row Section Here
		&.content {
			.row {
				padding: 25px 0;
		    border: 1px solid red;
			}
		}
	}
}
